name: Go Multi-Platform Build+Release

on:
  push:
    tags:
      - v*
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            artifact_name: ${{ github.event.repository.name }}-linux-amd64.tgz
            format: tar
          - os: windows-latest
            artifact_name: ${{ github.event.repository.name }}-windows-amd64.zip
            format: zip
          - os: macos-latest
            artifact_name: ${{ github.event.repository.name }}-darwin-amd64.tgz
            format: tar

    runs-on: ${{ matrix.os }}

    steps:
    - name: Debug Context Variables
      run: |
        echo "github.ref = ${{ github.ref }}"
        echo "github.ref_type = ${{ github.ref_type }}"
        echo "github.ref_name = ${{ github.ref_name }}"
        echo "github.event_name = ${{ github.event_name }}"
        echo "github.base_ref = ${{ github.base_ref }}"
        echo "github.head_ref = ${{ github.head_ref }}"

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        cache: true

    - name: Build
      run: go build -ldflags="-s -w" -v -o build/ ./...

    - name: Archive (Linux/Mac)
      if: matrix.format == 'tar'
      run: cd build && tar zcvf ../${{ matrix.artifact_name }} *

    - name: Archive (Windows)
      if: matrix.format == 'zip'
      run: cd build && powershell Compress-Archive -Path * -DestinationPath ../${{ matrix.artifact_name }}

    # This will automatically zip the files!
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact_name }}.zip
        path: ${{ matrix.artifact_name }}
        retention-days: 1

  release:
    if: github.ref_type == 'tag'

    needs: build
    runs-on: ubuntu-latest

    steps:
    # gh needs this to see commit messages
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: dist/
    # This automatically extracts files into dist/myproject-linux-amd64.tar.gz.zip/myproject-linux-amd64.tar.gz !

    - name: Move artifacts
      run: |
        cd dist
        for i in * ; do mv "$i"/* . ; rmdir "$i"; done

    # See https://cli.github.com/manual/gh_release_create
    - name: Create Release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: >
        gh release create ${{ github.ref_name }}
        --title "${{ github.ref_name }}"
        --generate-notes
        ./dist/*
      # --generate-notes - gives a link to the diff since the last release
      # --notes-from-tag - just put the commit message for the tag in the notes
      # -F, --notes-file <file> - read release notes from file (use "-" to read from standard input)
      # -n, --notes <string> - provide notes manually
      # -d, --draft - save the release as a draft instead of publishing it
      # -p, --prerelease - mark the release as a prerelease
